asttokens==3.0.0
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==6.2.0
bs4==0.0.1
cached-property==1.5.2
certifi==2020.6.20
chardet==4.0.0
click==7.1.2
colorama==0.4.4
decorator==5.2.1
defusedxml==0.7.1
distlib==0.3.6
distro==1.5.0
dnspython==2.0.0
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.8.0
idna==2.10
importlib-metadata==8.6.1
ipython==8.12.3
jedi==0.19.2
jinja2==3.1.6
jsonschema==3.2.0
jupyter-client==8.6.3
jupyter-core==5.7.2
jupyterlab-pygments==0.3.0
lxml
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mistune==3.1.3
more-itertools==4.2.0
msgpack==1.0.0
natsort==7.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
netifaces==0.10.9
packaging==25.0
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.2.0
pipreqs==0.5.0
platformdirs==2.5.2
polib==1.1.0
prompt-toolkit==3.0.51
psutil==5.8.0
ptyprocess==0.7.0
pure-eval==0.2.3
pycryptodomex==3.9.7
pygments==2.19.1
pyrsistent==0.15.5
python-dateutil==2.9.0.post0
pythondialog==3.5.1
pyudev==0.22.0
pyzmq==26.4.0
requests==2.25.1
salt==3003
six==1.16.0
soupsieve==2.3.2.post1
stack-data==0.6.3
texttable==1.6.3
tinycss2==1.4.0
tinytag==1.8.1
tornado==6.4.2
traitlets==5.14.3
typing-extensions==4.13.2
urllib3==1.26.5
virtualenv==20.16.5
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==0.57.0
yarg==0.1.9
zipp==3.21.0
